.datagrid-column-title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.datagrid-table .datagrid-cell {
  display: flex;
  justify-content: center;
  text-align: center;
}

.itemRetrieval {
  color: red;
  font-size: 24px;
  text-align: center;
}

.spinner {
  margin: 0 auto;
}
