<div class="login-wrapper">
  <form class="login" [formGroupName]="loginForm" (submit)="submit()">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      CVS Inventory Management
      <h5 class="hint">Please enter your credentials</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" name="username" clrInput placeholder="Username" formControlName="username" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
      </clr-password-container>
      <clr-checkbox-wrapper>
        <label>Remember me</label>
        <input type="checkbox" name="rememberMe" clrCheckbox formControlName="rememberMe" />
      </clr-checkbox-wrapper>
      <ng-container class="error active" *ngIf="loginForm.invalid">
        Invalid user name or password
      </ng-container>
      <button type="submit" class="btn btn-primary">NEXT</button>
      <a href="javascript://" class="signup">Sign Up</a>
    </div>
  </form>
</div>
