<ng-template #errorTrue>
  <clr-control-error class="alert alert-danger">No items exist under Category {{itemCatName}}</clr-control-error>
</ng-template>
<div *ngIf= "!fetchingInformation;">
<!--Todo Finish error checking-->
<!--  <ng-container *ngIf="!errorStatus; else errorTrue">
    </ng-container>-->
  <div class="header-actions">
    <a routerLink="/inv/item/add" routerLinkActive="active" class="nav-link nav-icon" aria-label="settings">
      <clr-icon shape="plus"></clr-icon>
    </a>
  </div>
  <clr-datagrid [clrDgLoading]="fetchingInformation" [(clrDgSelected)]="selected">
    <clr-dg-placeholder>No items found</clr-dg-placeholder>
    <clr-dg-column>Item ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'name'">
      <ng-container *clrDgHideableColumn="{hidden: false}">
      Item
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">
      <ng-container *clrDgHideableColumn="{hidden: false}">
        Description
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'sku'">
      <ng-container *clrDgHideableColumn="{hidden: false}">
        Sku
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'price'">
      <ng-container *clrDgHideableColumn="{hidden: false}">
        Price
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'category'">
      <ng-container *clrDgHideableColumn="{hidden: false}">
        Category
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'edit'"></clr-dg-column>
    <clr-dg-column [clrDgField]="'delete'"></clr-dg-column>

    <clr-dg-row *clrDgItems="let item of items$ | async" [clrDgItem]="item">
      <clr-dg-cell>{{item.id}}</clr-dg-cell>
      <clr-dg-cell><a [routerLink]="['/inv/item/edit', item.id]" routerLinkActive="active">{{item.name}}</a></clr-dg-cell>
      <clr-dg-cell >{{item.description ? item.description : "No Data"}}</clr-dg-cell>
      <clr-dg-cell>{{item.sku}}</clr-dg-cell>
      <clr-dg-cell>{{item.price ? item.price : "No Price"}}</clr-dg-cell>
      <clr-dg-cell>{{item.cat3 ? item.cat3.catName : "Uncategorized"}}</clr-dg-cell>
      <clr-dg-cell><button class="btn btn-primary btn-sm" [routerLink]="['/inv/item/edit', item.id]" routerLinkActive="true">Edit</button></clr-dg-cell>
      <clr-dg-cell><button class="btn btn-danger btn-sm" (click)="deleteItem(item)" routerLinkActive="true">Delete</button></clr-dg-cell>
    </clr-dg-row>

    <clr-dg-detail *clrIfDetail="let chosenItem">
      <clr-dg-detail-header>{{chosenItem.name}}</clr-dg-detail-header>
      <clr-dg-detail-body>
        <h4>Item Description:</h4>
        <div *ngIf="chosenItem.description; else noDescription"> {{chosenItem.description}}</div>
        <ng-template #noDescription>No Description</ng-template>
        <h4>Price:</h4>
        {{chosenItem.price}}
        <h4>Vendor:</h4>
        <div *ngIf="(chosenItem.vendor); else noVendor">{{chosenItem.vendor.name}}</div>
        <ng-template #noVendor>
          No Vendor
        </ng-template>
        <h4>Sku:</h4>
        {{chosenItem.sku}}
      </clr-dg-detail-body>
    </clr-dg-detail>

    <clr-dg-footer>

      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{pagination.totalItems}} Stores per page
        </clr-dg-page-size>
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>
<!--<ng-template #loading>
  <clr-spinner class="spinner">Loading...</clr-spinner>
</ng-template>-->
