<div [hidden] ="!error" class="alert alert-danger">
  Form couldn't be submitted.  Review errors
</div>
<div [hidden]="!submitted" class="alert alert-success">
  {{locationEdit.value.name}} was added successfully!
</div>
<form clrForm clrLayout="horizontal" [formGroup]="locationEdit">
  <h3>Store</h3>
  <clr-control-container>
    <label for="storeName">Store Name</label>
    <input clrInput type="text" id="storeName" formControlName="name" />
  </clr-control-container>
  <clr-control-container>
    <label for="storeCode">Store Code</label>
    <input clrInput type="text" id="storeCode" formControlName="store_code" />
  </clr-control-container>
  <h3>Address</h3>
  <div formGroupName="address">
    <clr-control-container>
      <label for="street" class="clr-col-2 clr-col-md-2">Street</label>
      <input clrInput type="text" id="street" formControlName="street" />
    </clr-control-container>
    <clr-control-container>
      <label for="street2" class="clr-col-2 clr-col-md-2">Suite</label>
      <input clrInput type="text" id="street2" formControlName="street2" />
    </clr-control-container>
    <clr-control-container>
      <label for="city">City</label>
      <input clrInput type="text" id="city" formControlName="city" />
    </clr-control-container>
    <clr-control-container>
      <label for="state">State</label>
      <input clrInput type="text" id="state" formControlName="state" />
    </clr-control-container>
    <clr-control-container>
      <label for="zip">ZipCode</label>
      <input clrInput type="number" id="zip" formControlName="zip" />
    </clr-control-container>
  </div>
  <h3>Phone Information</h3>
  <div formGroupName="phone">
    <clr-control-container>
      <label for="area_code">Area Code</label>
      <input clrInput type="number" id="area_code" formControlName="area_code">
    </clr-control-container>
    <clr-control-container>
      <label for="number">Phone Number </label>
      <input clrInput type="number" id="number" formControlName="number">
    </clr-control-container>
  </div>
  <button class="btn btn-primary" (click)="submit()">Submit</button>

</form>
{{locationEdit.valid}}
{{locationEdit.pristine}}
{{locationEdit.touched}}
{{locationEdit.value | json}}

