<div [hidden] ="!error" class="alert alert-danger">
Form couldn't be submitted.  Review errors
</div>
<div [hidden]="!submitted" class="alert alert-success">
{{this.submittedItem}} was added successfully!
</div>
<form clrForm clrLayout="horizontal" [formGroup]="itemAddForm" (ngSubmit)="submit()">
  <clr-input-container>
    <label for="itemName" class="clr-control-label">Item Name:</label>
    <input clrInput type="text" id="itemName" formControlName="name" placeholder="ex. Jif Peanut Butter" required />
  </clr-input-container>
  <clr-select-container formGroupName="cat3" *ngIf="itemLevel">
    <label for="itemLevel" class="clr-control-label">Item Level Category:</label>
    <select clrSelect
            class="clr-form-control"
            id="itemLevel"
            formControlName="id"
            (change)="updateItemCat(itemAddForm.get('cat3').value.id)"
            required >
      <option name="id" value="{{item.id}}" *ngFor="let item of itemLevel | async">{{item.catName}}</option>
      <clr-control-error ></clr-control-error>
    </select>
  </clr-select-container>
  <clr-select-container formGroupName="vendor" *ngIf="itemAddForm">
    <label for="itemVendor" class="clr-control-label">Vendor:</label>
    <select clrSelect
            class="clr-form-control"
            id="itemVendor"
            formControlName="id"
            (change)="updateItemVendor(itemAddForm.get('vendor').value.id)"
            required >
      <option name="id" value="{{vendor.id}}" *ngFor="let vendor of itemVendor | async">{{vendor.name}}</option>
      <clr-control-error ></clr-control-error>
    </select>
  </clr-select-container>
  <clr-textarea-container>
    <label for="description" class="clr-control-label">Item Description</label>
    <textarea clrTextarea id="description" formControlName="description" placeholder="Item Description" required ></textarea>
  </clr-textarea-container>
  <clr-input-container>
    <label for="sku" class="clr-control-label">SKU:</label>
    <input clrInput type="text" id="sku" formControlName="sku" placeholder="SKU" required />
    <clr-control-error>Error</clr-control-error>
    <clr-control-success>Success</clr-control-success>
  </clr-input-container>
  <clr-input-container>
    <label for="price" class="clr-control-label">Item Price:</label>
    <input clrInput type="number" id="price" formControlName="price" placeholder="$0.00" required />
  </clr-input-container>
  <clr-control-container>
    <button [disabled]="!itemAddForm.valid" class="btn btn-primary">Submit</button>
    <button class="btn btn-secondary" (click)="resetForm()">Cancel</button>
  </clr-control-container>
</form>
